 h1 {
     color:blue;
     font-size:30px;
    }
 
 .style1{
     color:rgb(187, 255, 0);
     font-size:25px;
    }

.style2{
    font-family:arial;
    
    }    

#id3{
    color: #fd0d0d;
text-align: center;
font-size: 60;
margin: 0;
text-decoration: underline;
    }
    
#id4{
    color:rgb(9, 255, 0);
    text-align: center;
font-size: 60;
margin: 0;
text-decoration: underline;
    }   
    #id3{
    color: #fd0d0d;
text-align: center;
font-size: 60;
margin: 0;
text-decoration: underline;
    }  
table{
    border-collapse:collapse;
    width:-144px;
    height: 323PX;
    }
 th,td{
     border:1px  solid  rgb(229, 233, 4);
     text-align:center;
     /*! width:50px; */
     position: initial;
 }   

 tr:nth-child(even){
     background-color:blue;
 }
 tbody tr:last-child{
     color:green;
 }
 th{
     width:1000px;
 }
 .topnav{
     overflow: hidden;
     background-color:#333;
 }
 .topnav a{
    float: left;
    color: #f2f2f2;
    padding:14px  14px;
    font-family: arial;
}
.topnav{
    list-style-type:none;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.topnav a:active{
    background-color: #4CAF50;
    color: white;
}
.styleinput{
    border: 2px solide pink ;
    padding: 10px 10px;
    background-color:aliceblue;
    border-radius: 7px;
    margin:14px;
}
.stylefieldset{
    background-color: azure;
     width: 700px;
     margin: auto;
     display: block;
     margin-top: 100px;
}
.label{
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
    font-weight: 700;
}
.stylebutton{
    border:2px solid #8c7600;
    padding: 10px 10px;
    margin-right: 20px;
    background-color:#0000;
    color: #ff8f00;
    font-size: 18px;
    border-radius: 10%;
}
.styleleg{
     color: pink;
    font-size: 30px;
    font-style: oblique;
}
.nav{
    position: fixed;
    width: 100%;
    top: 0;
}
.a{
    color: white;
    font-size: 26px;
    font-family: cursive
}
.T{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-family: cursive
}.bb{
    color:aqua;
}
.pos{
    color:rgb(0, 255, 0);
    font-size: 33PX;
}
.neg{
    color:red;
    font-size: 33PX;
}
.R{
    color: rgb(212, 33, 203);
    font-size: 20px;
    font-family: cursive
}
.y{
    color:white;
    font-size: 25PX;
}
B{color: aqua;
 font-size: 25PX;
}

  body{

            /*! background-color: rgb(25, 33, 66); */

            background-image: linear-gradient(to,#4affde 0%,#5b9dff 40%,#d06bff 60%,#ff34d2 100%);
            animation: movinGradient 5s linear infinite alternate;
            background-image: linear-gradient(to right,#4affde 0%,#5b9dff 40%,#d06bff 60%,#ff34d2 100%);
            background-size: 200% 200%;
        }
@keyframes movinGradient {
    from { background-position: 0 0;}
    to { background-position: 100% 100%;}
}
